<mat-card>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="key">
      <mat-header-cell *matHeaderCellDef> Key </mat-header-cell>
      <mat-cell *matCellDef="let asset"> {{asset.key}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let asset"> {{asset.record.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="medProductId">
      <mat-header-cell *matHeaderCellDef> MedProduct ID </mat-header-cell>
      <mat-cell *matCellDef="let asset"> {{asset.record.medProductId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="isUsed">
      <mat-header-cell *matHeaderCellDef> Is Used </mat-header-cell>
      <mat-cell *matCellDef="let asset"> {{asset.record.isUsed}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="docType">
      <mat-header-cell *matHeaderCellDef> DocType </mat-header-cell>
      <mat-cell *matCellDef="let asset"> {{asset.record.docType}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="modify">
      <mat-header-cell *matHeaderCellDef> Modify </mat-header-cell>
      <mat-cell *matCellDef="let asset"> 
        <button 
          (click)="onUpdate(asset)"
          mat-icon-button 
          color="primary" 
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>create</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell *matCellDef="let asset"> 
        <button 
          (click)="onDelete(asset)"
          mat-icon-button 
          color="primary" 
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>